body{
    font-family: 'Muli', 'Century Gothic', 'sans-serif';
    font-size:100%;
    margin:0;
    padding:0;
    border:0;
    display:block;
    color:white;
    background-color:darkslategray;

}

h1{
margin-left: 50%;
margin-top: 10%;
}
p{ 
   font-size: x-large;
   margin-left: 50%; 
}

body { 
  background-color:324252;
  background: url(http://www.camerons4fish.com/images/background-slide05.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.menu-filler{
    width:100%;
    height:100px;
}

.content-box-1{
    text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}

@media all and (min-width: 761px) {
    .visual{
        width: 100%;
        height:600px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:320px;
    }
    
    h1{
        font-size:4.1em;
        letter-spacing:11px;
        line-height:0;
    }
    h2{
        font-size:1.55em;
        letter-spacing:4px;
        font-weight:300;
        line-height:0;
    }   
    .content-box-1{
    font-size: 1.6em;
    }
}
@media all and (max-width: 760px) {
    .visual{
        width: 100%;
        height:500px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:250px;
    }
    
    h1{
        font-size:3.4em;
        letter-spacing:9px;
        line-height:0;
    }
    h2{
        font-size:1.3em;
        letter-spacing:3px;
        font-weight:300;
        line-height:0;
    }
}
@media all and (max-width: 480px){
    .visual{
        width: 100%;
        height:400px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:170px;
    }

    h1{
        font-size:2.4em;
        letter-spacing:6px;
        line-height:0;
    }
    h2{
        font-size:2.0em;
        letter-spacing:2px;
        font-weight:300;
        line-height:0;
    }

}

.content-box-2{
        text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}
.content-box-3{
        text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}
.content-box-4{
        text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}

.content-box-5{
        text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}

.content-box-6{
        text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}

.content-box-7{
      text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}

.content-box-8{
       text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 600px;
    font-size: 1em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}



ul{
    list-style-type:none;
    padding:0;
}
a {
    text-decoration: none;
}






/*NavBar*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
html {
  font-family: "Oswald"; 
  
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 3px solid #e3e3e8 ;

}
#logo {
  float: left;
  font-size: 3em;
  margin: 0;
  padding: .4em;
  text-decoration: none;
  color: #333;
  border-right: 1px solid #e3e3e8;
  transition: .5s all;
}
#logo:hover {
  color: #fafafa;
  background-color: #333;
}
nav {
  float: left;
    text-decoration: none;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.2em 2em;
  text-decoration: none;
}
nav ul li {
  display: inline;
  padding: 0 .4em;
    text-decoration: none;

}
nav ul li a {
  color: #ff4629;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  padding-bottom: 1.3em;
  transition: .5s color;

}
nav ul li a:hover {
  border-bottom: 3px solid #333;
    text-decoration: none;

}
#current {
  color: #ff4629;
  border-bottom: 3px solid #333;
}






/*hovering images*/

.carre_couleur
{
  width:300px;
  height: 300px;
  display: inline-block;
  position: relative;
  margin-top: 0px;
}
.base_hov .retract
{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform-origin: 50% 20%; 
  -webkit-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform-origin: 50% 20%;
  -moz-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform-origin: 50% 20%;
  -ms-transform: scale(1);
  transition: all 200ms ease-in;
  transform-origin: 50% 20%;
  transform: scale(1);
  width:300px;
  height: 300px;
  position: absolute;
  z-index: 2;
  left:0;
}
.base_hov:hover .retract
{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(0.6);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(0.6);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(0.6);
  transition: all 200ms ease-in;
  transform: scale(0.6);
}
.acced
{
  width: 180px;
  padding:10px;
  bottom:0; 
  position:absolute;
  z-index: 1; 
  text-align: left;
}
.big_acced
{
  color:#ffffff;
  font-size:20px;
  font-weight: 400;
  font-family:'Roboto';
}
.middle_acced
{
  color:#ffffff;
  font-size:15px;
  font-weight: 400;
  font-family:'Roboto';
}



 /*Facebook, google+, and twitter icons*/

.social-icons{
  list-style:none;
  width:250px;
  margin:100px auto 0 auto;
  
}
ul li{
margin-right:10px;
}

ul.social-icons li a{
  float:left;
  background-position:0 0;
  background:repeat:no-repeat;
  display:inline-block;
  text-indent:-9999px;
  overflow:hidden;
  width:50px;
  height:50px;
  position:relative;
  margin:0 3px;
border-radius:50px;

}
.google{
background-image:url('http://i.imgur.com/6y0iC8L.png?1');
    transition:background-image 0.5s ease-in-out; 
  -moz-transition: 0.5s ease-in-out; 
  -webkit-transition: 0.5s ease-in-out; 
  -o-transition: 0.5s ease-in-out;
}

.youtube{
background-image:url('http://i.imgur.com/IBQanzi.png?1');
    transition:background-image 0.5s ease-in-out; 
  -moz-transition: 0.5s ease-in-out; 
  -webkit-transition: 0.5s ease-in-out; 
  -o-transition: 0.5s ease-in-out;
}
.facebook{
background-image:url('http://i.imgur.com/qqQk6GW.png?1');
}


.google:hover{
background-image:url('http://i.imgur.com/qgFiraS.png?1');
  
    transition:all 0.5s ease-in-out; 
  -moz-transition: 0.5s ease-in-out; 
  -webkit-transition: 0.5s ease-in-out; 
  -o-transition: 0.5s ease-in-out;
}

.youtube:hover{
background-image:url('http://i.imgur.com/ZAp30Pu.png?1');
    transition:background-image 0.5s ease-in-out; 
  -moz-transition: 0.5s ease-in-out; 
  -webkit-transition: 0.5s ease-in-out; 
  -o-transition: 0.5s ease-in-out;
}
.facebook:hover{
background-image:url('http://i.imgur.com/dzgQEBP.jpg?1');
    transition:background-image 0.5s ease-in-out; 
  -moz-transition: 0.5s ease-in-out; 
  -webkit-transition: 0.5s ease-in-out; 
  -o-transition: 0.5s ease-in-out;
}


